@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --spacing-*: initial;
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-13: 52px;
  --spacing-14: 56px;
  --spacing-15: 60px;
  --spacing-16: 64px;
  --spacing-auto: auto;

  --text-*: initial;
  --text-display-2xl: 56px;
  --text-display-2xl--line-height: 60px;
  --text-display-xl: 48px;
  --text-display-xl--line-height: 56px;
  --text-display-lg: 42px;
  --text-display-lg--line-height: 52px;
  --text-display-md: 36px;
  --text-display-md--line-height: 44px;
  --text-display-sm: 32px;
  --text-display-sm--line-height: 40px;
  --text-3xl: 28px;
  --text-3xl--line-height: 42px;
  --text-2xl: 24px;
  --text-2xl--line-height: 32px;
  --text-xl: 21px;
  --text-xl--line-height: 32px;
  --text-lg: 18px;
  --text-lg--line-height: 24px;
  --text-md: 16px;
  --text-md--line-height: 24px;
  --text-sm: 14px;
  --text-sm--line-height: 18px;
  --text-xs: 12px;
  --text-xs--line-height: 16px;
  --text-button-lg: 16px;
  --text-button-lg--line-height: 24px;
  --text-button-md: 14px;
  --text-button-md--line-height: 24px;
  --text-button-sm: 12px;
  --text-button-sm--line-height: 24px;

  --font-weight-*: initial;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;

  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-white: #ffffff;
  --color-black: #0a0908;

  --color-gray-100: #fafafa;
  --color-gray-200: #f5f5f5;
  --color-gray-300: #e5e5e5;
  --color-gray-400: #d6d6d6;
  --color-gray-500: #a3a3a3;
  --color-gray-600: #737373;
  --color-gray-700: #434343;
  --color-gray-800: #2a2a2a;
  --color-gray-900: #212529;
  --color-gray-1000: #0f0f0f;

  --color-error-100: #fff0f3;
  --color-error-200: #ffccd5;
  --color-error-300: #ffb3c1;
  --color-error-400: #ff8fa3;
  --color-error-500: #ff758f;
  --color-error-600: #ff4d6d;
  --color-error-700: #c9184a;
  --color-error-800: #a4133c;
  --color-error-900: #800f2f;
  --color-error-1000: #590d22;

  --radius-*: initial;
  --radius-0: 0px;
  --radius-1: 4px;
  --radius-2: 8px;
  --radius-3: 12px;
  --radius-4: 16px;
  --radius-5: 20px;
  --radius-6: 24px;
  --radius-7: 28px;
  --radius-8: 32px;
  --radius-9: 36px;
  --radius-10: 40px;
  --radius-11: 44px;
  --radius-12: 48px;
  --radius-13: 52px;
  --radius-14: 56px;
  --radius-15: 60px;
  --radius-16: 64px;
  --radius-none: 0px;
  --radius-full: 9999px;

  --background-image-*: initial;
  --background-image-grid-light: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="8" height="8" fill="none" stroke="rgba(10, 9, 8, 0.2)"><path d="M0 .5H31.5V32"/></svg>');
  --background-image-grid-dark: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="8" height="8" fill="none" stroke="rgba(250, 250, 250, 0.2)"><path d="M0 .5H31.5V32"/></svg>');

  --transition-property-spacing: margin, padding;
}

@utility container {
  margin-inline: auto;
  padding-inline: 24px;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 640px) {
    max-width: 640px;
    padding-inline: 24px;
  }
  @media (width >= 768px) {
    max-width: 768px;
    padding-inline: 24px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
    padding-inline: 48px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
    padding-inline: 48px;
  }
  @media (width >= 1420px) {
    max-width: 1420px;
    padding-inline: 48px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility scrollbar {
  &::-webkit-scrollbar {
    @apply h-[8px] w-[8px] bg-[transparent];
  }
  &::-webkit-scrollbar-track {
    @apply bg-[transparent];
  }
  &::-webkit-scrollbar-thumb {
    @apply rounded-[9999px] bg-[#e5e5e5];
  }

  .dark &::-webkit-scrollbar-thumb {
    @apply bg-[#212529];
  }

  &::-webkit-scrollbar-corner {
    @apply bg-[transparent];
  }
}

@utility slider {
  &::-webkit-slider-thumb {
    @apply relative z-10 h-5 w-5 cursor-pointer appearance-none rounded-full border-2 border-solid border-black bg-gray-100 dark:border-gray-100 dark:bg-black;
  }

  &:disabled::-webkit-slider-thumb {
    @apply cursor-default border-gray-500 dark:border-gray-500;
  }
}

@utility disable-transitions {
  & * {
    transition: none !important;
  }
}

@layer base {
  .font-sans {
    font-family: var(--font-inter), sans-serif;
  }

  .font-mono {
    font-family: var(--font-ibm-plex-mono), monospace;
  }

  body {
    @apply font-sans;
  }

  footer {
    @apply mt-auto;
  }

  button {
    @apply cursor-pointer;
  }

  *:focus-visible {
    @apply outline outline-offset-1 outline-gray-300;
  }

  *::selection {
    @apply bg-error-200 dark:bg-error-500/50;
  }

  .dark {
    @apply bg-black text-gray-100;
  }

  .light {
    @apply bg-gray-100 text-black;
  }
}
